/**
 * Skin: Black
 */ 

p, li, address { color:#696969 }
a { color:#000 }
a:hover { color:#c0bfbf }

body { background-image:url('../../images/colors/black/bg.gif') }                               
#logo a { background-image:url('../../images/logo.png') }
#slider { background-image:url('../../images/colors/black/slider-light.png') } 

#footer { background-color:#212020; background-image:url(''); background-position:bottom center }               
#copyright { background-color:#000000 }  

#nav li { border-left:1px solid #323232; border-right:1px solid #000 }
#nav a { color:#fff }
#nav a:hover { color:#dddbdb }
#nav span { color:#b7b5b5 }                                              

#nav-slider, #top-slogan { background-image:url('../../images/bg/nav-slider.png') }
#nav-slider a:hover, #nav-slider li:hover a, #nav-slider li.active a, #nav-slider li.current a { color:#828282 }
#nav-slider .arrow { background-image:url('../../images/icons/arrow-up.png') } 

#slider .panel h1, #slider .panel h2, #slider .panel p { color: }

#content { background-color:#fff }

#footer p, #footer li, #footer address, #footer span, #copyright, #footer a.contact strong { color:#b5b4b4 }
#footer a, #copyright a { color:#f0f0f0 }
#footer a:hover, #copyright a:hover { color:#ccc9c9 }
#footer h3 { color:#fff }
#footer .menu li, #footer .menu li.first, #footer .menu li.last, #footer address { border-color:#363636 }
#footer .flickr img { background-color:#282727; border-color:#4a4949 }