/**
 * Skin: Violet
 */ 

p, li, address { color:#696969 }
a { color:#702693 }
a:hover { color:#c0bfbf }

body { background-image:url('../../images/colors/violet/bg.gif') }                               
#logo a { background-image:url('../../images/logo.png') }
#slider { background-image:url('../../images/colors/violet/slider-light.png') } 

#footer { background-color:#4f345c; background-image:url(''); background-position:bottom center }               
#copyright { background-color:#300c41 }  

#nav li { border-left:1px solid #644572; border-right:1px solid #452c51 }
#nav a { color:#fff }
#nav a:hover { color:#e5b8fb }
#nav span { color:#b98ccf }                                              

#nav-slider, #top-slogan { background-image:url('../../images/bg/nav-slider.png') }
#nav-slider a:hover, #nav-slider li:hover a, #nav-slider li.active a, #nav-slider li.current a { color:#702693 }
#nav-slider .arrow { background-image:url('../../images/icons/arrow-up.png') } 

#slider .panel h1, #slider .panel h2, #slider .panel p { color:#fff }

#content { background-color:#fff }

#footer p, #footer li, #footer address, #footer span, #copyright, #footer a.contact strong { color:#fff }
#footer a, #copyright a { color:#e4baf8 }
#footer a:hover, #copyright a:hover { color:#ae5cd5 }
#footer h3 { color:#fff }
#footer .menu li, #footer .menu li.first, #footer .menu li.last, #footer address { border-color:#886598 }
#footer .flickr img { background-color:#402a4a; border-color:#775687 }
